<div class="navbar__item">
	<div class="navbar__notification-icon">
		<a href="#" style="background-image: url(${require('../../img/icon/header-bell.svg')})"><span>17</span></a>
		<div class="navbar__notification-list">
			<ul data-customScrollY>
				<li>
                    <a href="#">
                        <span class="notification__item-head">
                            <span class="notification__date">10.04.2021 в 12:45</span>
                            <span class="notification__company">Мясное место</span>
                        </span>
                        <span class="notification-name">
                            <span class="notification__event">Достаточно длинный текст оповещения который может вот таким</span>
                        </span>
                    </a>
				</li>
				<li>
                    <a href="#">
                        <span class="notification__item-head">
                            <span class="notification__date">10.04.2021 в 12:45</span>
                            <span class="notification__company">Мясное место</span>
                        </span>
                        <span class="notification-name">
                            <span class="notification__event">Достаточно длинный текст оповещения который может вот такимДостаточно длинный текст оповещения который может вот таким</span>
                        </span>
                    </a>
				</li>
				<li>
                    <a href="#">
                        <span class="notification__item-head">
                            <span class="notification__date">10.04.2021 в 12:45</span>
                            <span class="notification__company">Мясное место</span>
                        </span>
                        <span class="notification-name">
                            <span class="notification__event">Достаточно длинный</span>
                        </span>
                    </a>
				</li>
				<li>
                    <a href="#">
                        <span class="notification__item-head">
                            <span class="notification__date">10.04.2021 в 12:45</span>
                            <span class="notification__company">Мясное место</span>
                        </span>
                        <span class="notification-name">
                            <span class="notification__event">Достаточно длинный</span>
                        </span>
                    </a>
				</li>
				<li>
                    <a href="#">
                        <span class="notification__item-head">
                            <span class="notification__date">10.04.2021 в 12:45</span>
                            <span class="notification__company">Мясное место</span>
                        </span>
                        <span class="notification-name">
                            <span class="notification__event">Достаточно длинный</span>
                        </span>
                    </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="navbar__profile">
		<div class="wrapper__profile-icon"><a href="#"><span style="background-image: url(${require('../../img/image/logo-company-1.jpg')})"></span></a></div>
		<div class="wrapper__profile-name">Вкусторг</div>
		<div class="wrapper__profile-list">
			<ul>
				<li><a href="#">Профиль</a></li>
				<li><a href="#">Выход</a></li>
			</ul>
		</div>
	</div>
</div>